body {
    margin: 0;
    height: 100%
}

header {
    display: flex;
    justify-content: space-between;

}
.content {
    height: 100%;
    width: 100%;
    background: linear-gradient(#041729, #0A8CFF);

}

.SignIn {
    background-color: white;
    width: 50%;
}

#logo {
    height: 25px
}

ul {
    display: flex;
}

.options {
    display: flex;
}

li, i, .text-signin {
    font-size: 18px;
    color: white;
}

li {
    list-style-type: none;
}

footer p {
    font-size: 15px;
    color: white;
}

#bo-cong-thuong {
    width: 170px;
}

#scroll-to-top {
    position: relative;
}

.footer {
    background-color: #0B2447;
}

